<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>Вакансии | Digital Group</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
{% load is_already_start_anket %}
{% load is_already_start_test %}
{% load is_already_start_osa %}
{% load is_deadline_anketa %}
{% load is_deadline_test %}
{% load is_deadline_osa %}
<body>
    <header class="container mt-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand mr-4" href="{% url 'home' %}">Digital Group</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
        <ul class="navbar-nav col-10">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'vacancies' %}">Вакансии</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'applications' %}">Мои отклики</a>
          </li>

        </ul>
        {% if request.user.is_authenticated %}
        <ul class="navbar-nav col-2 justify-content-end">
                <button type="button" class="btn dropdown-toggle font-weight-bold" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ request.user.first_name }}
                </button>
                  <div class="dropdown-menu dropdown-menu-right mt-3">
                    <a href="{% url 'vacancies-hr' %}" class="dropdown-item py-2">Вакансии</a>
                    <a href="{% url 'companies-hr' %}" class="dropdown-item py-2">Компании</a>
                    <a href="{% url 'applications-hr-all' %}" class="dropdown-item py-2">Отклики</a>
                    <a href="{% url 'OSA-hr' %}" class="dropdown-item py-2">База ОСА</a>
                  </div>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
          </li>
            {% endif %}
        </ul>
      </div>
    </nav>
  </header>
  <main class="container mt-5">
      <section class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h1 class="heading text-center">Все вакансии, на которые Вы откликнулись</h1>
                </div>
            </div>
        </div>
    </section>
    <section>
      <h1 class="h1 text-center mx-auto mt-1 pt-3" style="font-size: 70px;"><strong>{{title}}</strong></h1>
      <p class="text-center pt-1">вакансий: {{object_list.count}}</p>
      <div class="row mt-5">
          {% for obj in object_list %}
        <div class="col-12 col-lg-8 offset-lg-2 m-auto">
          <div class="card mb-4">
            <div class="card-body px-4">
              <div class="row">
                <div class="col-12 col-md-8 col-lg-9">
                  <a href="{% url 'vacancy_detail' pk=obj.vacancy.id %}">
                    <h2 class="h2 pb-2">{{obj.vacancy.title}}</h2>
                  </a>
                  <p>От {{ obj.vacancy.salary_min }} до {{ obj.vacancy.salary_max }} руб/мес</p>
                  <div class="pb-2">Пройдено этапов:</div>
                  {% is_deadline_anketa obj.id as is_failed_anketa %}
                  {% is_deadline_osa obj.id as is_failed_osa %}
                  {% is_deadline_test obj.id as is_failed_test %}
                  {% if is_failed_anketa %}
                  <div class="progress mb-2">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 25%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">25%</div>
                  </div>
                  {% elif is_failed_test %}
                  <div class="progress mb-2">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 50%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">50%</div>
                  </div>
                  {% elif is_failed_osa %}
                  <div class="progress mb-2">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 75%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">75%</div>
                  </div>
                  {% else %}
                    {% if obj.vacancy.status.id == 2 %}
                        {% if obj.status.id == 1 %}
                          <div class="progress mb-2">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 25%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">25%</div>
                          </div>
                        {% elif obj.status.id == 2 %}
                          <div class="progress mb-2">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 25%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">25%</div>
                          </div>
                        {% elif obj.status.id == 3 %}
                          <div class="progress mb-2">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 50%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">50%</div>
                          </div>
                        {% elif obj.status.id == 4 %}
                          <div class="progress mb-2">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 50%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">50%</div>
                          </div>
                        {% elif obj.status.id == 5 %}
                          <div class="progress mb-2">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 75%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">75%</div>
                          </div>
                        {% elif obj.status.id == 6 %}
                          <div class="progress mb-2">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 75%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">75%</div>
                          </div>
                        {% elif obj.status.id == 7 %}
                          <div class="progress mb-2">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">100%</div>
                          </div>
                        {% elif obj.status.id == 8 %}
                          <div class="progress mb-2">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 100%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">100%</div>
                          </div>
                        {% elif obj.status.id == 9 %}
                          <div class="progress mb-2">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 100%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">100%</div>
                          </div>
                        {% elif obj.status.id == 10 %}
                          <div class="progress mb-2">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" role="progressbar" style="width: 100%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">отказ</div>
                          </div>
                        {% endif %}
                    {% elif obj.vacancy.status.id == 3 %}
                      <div class="progress mb-2">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" role="progressbar" style="width: 100%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">вакансия закрыта</div>
                      </div>
                    {% endif %}
                  {% endif %}

                </div>
                <div class="col-12 col-md-4 col-lg-3 d-flex align-items-end">
                {% is_deadline_anketa obj.id as is_failed_anketa %}
                {% is_deadline_osa obj.id as is_failed_osa %}
                {% is_deadline_test obj.id as is_failed_test %}
                {% if is_failed_anketa or is_failed_test or is_failed_osa %}
                  <button type="button" class="btn btn-danger" >
                    Дедлайн просрочен
                  </button>
                {% else %}
                  {% if obj.vacancy.status.id == 2 %}
                      {% if obj.status.id == 1 %}
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#quizStartModal-{{obj.id}}">
                        {{obj.status.title}}
                      </button>
                      {% elif obj.status.id == 2 %}
                      <button type="button" class="btn btn-success" >
                        Ваша анкета на проверке
                      </button>
                      {% elif obj.status.id == 3 %}
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#quizTestModal-{{obj.id}}">
                        Выполните тестовое задание
                      </button>
                      {% elif obj.status.id == 4 %}
                      <button type="button" class="btn btn-success" >
                        Ваше задание на проверке
                      </button>
                      {% elif obj.status.id == 5 %}
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#quizOsaModal-{{obj.id}}">
                        Пройдите тест-оса
                      </button>
                      {% elif obj.status.id == 6 %}
                      <button type="button" class="btn btn-success" >
                        Ваш тест на проверке
                      </button>
                      {% elif obj.status.id == 7 %}
                      <button type="button" class="btn btn-primary">
                        Ожидайте звонка HR
                      </button>
                      {% elif obj.status.id == 8 %}
                      <button type="button" class="btn btn-success">
                        Ожидайте результата собеседования
                      </button>
                      {% elif obj.status.id == 9 %}
                      <button type="button" class="btn btn-success">
                        Поздравляем, вы вышли на стажировку!
                      </button>
                      </a>
                      {% elif obj.status.id == 10 %}
                      <button type="button" class="btn btn-secondary">
                        К сожалению, в результате проверки - отказ по вакансии
                      </button>
                      </a>
                      {% endif %}
                  {% elif obj.vacancy.status.id == 3 %}
                  <button type="button" class="btn btn-secondary">
                    Вакансия закрыта
                  </button>
                  </a>
                  {% endif %}
                {% endif %}
                </div>
                </form>

                                <!-- Start Modal -->
                <div class="modal fade" id="quizStartModal-{{obj.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Готовы начать?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      {% if obj.status.id == 1 %}
                      <div class="modal-body" id="modal-body-confirm">
                        <ul class="pt-3 pb-3">
                        <li>Анкета на вакансию: {{obj.vacancy.get_quizes.first.title}}</li>
                        <li>Время на выполнение: {{obj.vacancy.get_quizes.first.deadline}} ч</li>
                        </ul>
                      </div>
                      {% endif %}
                      <div class="modal-footer">
                        <input type="submit" class="btn btn-secondary mt-4 mb-2" value="Отмена">
                        {% is_already_start_anket obj as is_anket %}
                        {% if is_anket %}
                          <a href="{% url 'questions' id=obj.get_anketa_results.first.pk pk=obj.vacancy.get_quizes.first.pk %}?page=1">
                            <input type="submit" class="btn btn-primary mt-4 mb-2" value="Продолжить">
                          </a>
                        {% else %}
                        <form action="{% url 'start-anketa_result' application_id=obj.id %}" method="post"  enctype="multipart/form-data">
                          {% csrf_token %}
                          <input type="hidden" name="application" value="{{ obj.id }}">
                          <a href="{% url 'start-anketa_result' application_id=obj.id %}">
                            <input type="submit" class="btn btn-primary mt-4 mb-2" value="Старт">
                          </a>
                        </form>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>

                  <!-- Test Modal -->
                <div class="modal fade" id="quizTestModal-{{obj.id}}" tabindex="-1" aria-labelledby="testModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="testModalLabel">Готовы начать?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      {% if obj.status.id == 3 %}
                      <div class="modal-body" id="modal-test-confirm">
                        <ul class="pt-3 pb-3">
                        <li>Тест на вакансию: {{obj.vacancy.get_tests.first.title}}</li>
                        <li>Время на выполнение: {{obj.vacancy.get_tests.first.deadline}} ч</li>
                        </ul>
                      </div>
                      {% endif %}
                      <div class="modal-footer">
                        <input type="submit" class="btn btn-secondary mt-4 mb-2" value="Отмена">
                        {% is_already_start_test obj.id as is_test %}
                        {% if is_test %}
                          <a href="{% url 'test_detail' obj.id obj.vacancy.get_tests.first.id %}">
                            <input type="submit" class="btn btn-primary mt-4 mb-2" value="Продолжить">
                          </a>
                        {% else %}
                        <form action="{% url 'start_test_result' obj.id %}" method="post"  enctype="multipart/form-data">
                          {% csrf_token %}
                          <input type="hidden" name="text_result" value="нет ответа">
                          <input type="hidden" name="status" value="1">
                          <input type="hidden" name="application" value="{{ obj.id }}">
                          <input type="hidden" name="test" value="{{ obj.vacancy.get_tests.first.id }}">
                          <a href="{% url 'start_test_result' obj.id %}">
                            <input type="submit" class="btn btn-primary mt-4 mb-2" value="Старт">
                          </a>
                        </form>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Osa Modal -->
                <div class="modal fade" id="quizOsaModal-{{obj.id}}" tabindex="-1" aria-labelledby="osaModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="osaModalLabel">Готовы начать?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      {% if obj.status.id == 5 %}
                      <div class="modal-body" id="modal-osa-confirm">
                        <ul class="pt-3 pb-3">
                        <li>Тест на вакансию: {{obj.vacancy.get_tests.first.title}}</li>
                        <li>Время на выполнение: {{obj.osa.deadline}} ч</li>
                        </ul>
                      </div>
                      {% endif %}
                      <div class="modal-footer">
                        <input type="submit" class="btn btn-secondary mt-4 mb-2" value="Отмена">
                        {% is_already_start_osa obj.id as is_osa %}
                        {% if is_osa %}
                          <a href="{% url 'osa_detail' obj.id obj.osa.id %}">
                            <input type="submit" class="btn btn-primary mt-4 mb-2" value="Продолжить">
                          </a>
                        {% else %}
                        <form action="{% url 'start_osa_result' obj.id %}" method="post"  enctype="multipart/form-data">
                          {% csrf_token %}
                          <input type="hidden" name="code" value="-">
                          <input type="hidden" name="application" value="{{ obj.id }}">
                          <input type="hidden" name="osa" value="{{ obj.osa.id }}">
                          <a href="{% url 'start_osa_result' obj.id %}">
                            <input type="submit" class="btn btn-primary mt-4 mb-2" value="Старт">
                          </a>
                        </form>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
          {% endfor %}
      </div>
    </section>
  </main>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
