<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">

<head>
  <meta charset="UTF-8">
  <title>Digital Group</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>

<body>
    <header class="container mt-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand mr-4" href="{% url 'home' %}">Digital Group</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
        <ul class="navbar-nav col-10">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'vacancies' %}">Вакансии</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'applications' %}">Мои отклики</a>
          </li>

        </ul>
        {% if request.user.is_authenticated %}
        <ul class="navbar-nav col-2 justify-content-end">
                <button type="button" class="btn dropdown-toggle font-weight-bold" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ request.user.first_name }}
                </button>
                  <div class="dropdown-menu dropdown-menu-right mt-3">
                    <a href="{% url 'vacancies-hr' %}" class="dropdown-item py-2">Вакансии</a>
                    <a href="{% url 'companies-hr' %}" class="dropdown-item py-2">Компании</a>
                    <a href="{% url 'applications-hr-all' %}" class="dropdown-item py-2">Отклики</a>
                    <a href="{% url 'OSA-hr' %}" class="dropdown-item py-2">База ОСА</a>
                  </div>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
          </li>
            {% endif %}
        </ul>
      </div>
    </nav>
  </header>

  <main class="container mt-3 pb-5">
    <div class="row mt-5">
      <div class="col-12 col-lg-12">
        <div class="card">
          <div class="card-body px-4 pb-4">
            <section class="tab-pane fade show active">
              <h2 class="h4 pt-2 pb-3">Всего откликов: {{apps_all.count}}</h2>
              <!-- go anketa -->
              <div class="card mt-3">
                <div class="card-body px-4">
                  <div class="row align-items-center">
                    <div class="col-12 col-lg-12">

                      <table class="table table-striped table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Вакансия</th>
                            <th scope="col">Отклики на вакансию</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for vac in al_anket %}
                          <tr>
                            <th scope="row">{{vac}}</th>
                            <td>{{vac.applications_Count}}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-12 col-lg-12">
        <div class="card">
          <div class="card-body px-4 pb-4">
            <section class="tab-pane fade show active">
              <h2 class="h4 pt-2 pb-3">Общий срез по этапам</h2>
              <!-- go anketa -->
              <div class="card mt-3">
                <div class="card-body px-4">
                  <div class="row align-items-center">
                    <div class="col-12 col-lg-12">

                      <table class="table table-striped table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Этап</th>
                            <th scope="col">Отклики</th>
                            <th scope="col">Процент</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">Проходят анкету</th>
                            <td>{{check_anket}}</td>
                            <td>{{count_go_anket}}%</td>
                          </tr>
                          <tr>
                            <th scope="row">Ожидают проверки анкеты</th>
                            <td>{{apps_anket.count}}</td>
                            <td>{{count_wait_anket}}%</td>
                          </tr>
                          <tr>
                            <th scope="row">Пропустили дедлайн анкетирования</th>
                            <td>{{fail_anket}}</td>
                            <td>{{count_fail_anket}}%</td>
                          </tr>
                          <tr>
                            <th scope="row">Проходят тестовое задание</th>
                            <td>{{check_test}}</td>
                            <td>{{count_go_test}}%</td>
                          </tr>
                          <tr>
                            <th scope="row">Ожидают проверки задания</th>
                            <td>{{apps_test.count}}</td>
                            <td>{{count_wait_test}}%</td>
                          </tr>
                          <tr>
                            <th scope="row">Пропустили дедлайн задания</th>
                            <td>{{fail_test}}</td>
                            <td>{{count_fail_test}}%</td>
                          </tr>
                          <tr>
                            <th scope="row">Проходят ОСА-тест</th>
                            <td>{{check_osa}}</td>
                            <td>{{count_go_osa}}%</td>
                          </tr>
                          <tr>
                            <th scope="row">Ожидают проверки ОСА-теста</th>
                            <td>{{apps_osa.count}}</td>
                            <td>{{count_wait_osa}}%</td>
                          </tr>
                          <tr>
                            <th scope="row">Пропустили дедлайн ОСА-теста</th>
                            <td>{{fail_osa}}</td>
                            <td>{{count_fail_osa}}%</td>
                          </tr>
                          <tr>
                            <th scope="row">Ожидают согласования собеседования</th>
                            <td>{{apps_check_sobes.count}}</td>
                            <td>{{count_check_sobes}}%</td>
                          </tr>
                          <tr>
                            <th scope="row">Проходят собеседование</th>
                            <td>{{apps_go_sobes.count}}</td>
                            <td>{{count_go_sobes}}%</td>
                          </tr>
                          <tr>
                            <th scope="row">Отказ по вакансии</th>
                            <td>{{apps_fail.count}}</td>
                            <td>{{count_fail}}%</td>
                          </tr>
                          <tr>
                            <th scope="row">На стажировке</th>
                            <td>{{apps_win.count}}</td>
                            <td>{{count_win}}%</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  <section class="hidden">
    <div class="row mt-5">
      <div class="col-12 col-lg-12">
        <div class="card">
          <div class="card-body px-4 pb-4">
            <section class="tab-pane fade show active">
              <h2 class="h4 pt-2 pb-3">Общий срез по этапам</h2>
              <!-- go anketa -->
              <div class="card mt-3">
                <div class="card-body px-4">
                  <div class="row align-items-center">
                    <div class="col-6 col-lg-8">
                      <a class="h5" href="">Проходят анкету</a>
                      <p class="mb-1 pb-0">
                        <a href="#" class="text-info">откликов: {{check_anket}}</a>
                      </p>
                      <div class="progress mb-0">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info w-{{progress_count_go_anket}}" role="progressbar" aria-valuenow="{{progress_count_go_anket}}" aria-valuemin="0" aria-valuemax="100">{{count_go_anket}}%</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END go anketa -->
              <!-- wait anketa -->
              <div class="card mt-3">
                <div class="card-body px-4">
                  <div class="row align-items-center">
                    <div class="col-6 col-lg-8">
                      <a class="h5" href="">Ожидают проверки анкеты</a>
                      <p class="mb-0 pb-0">
                        <a href="#" class="text-info">откликов: {{apps_anket.count}}</a>
                      </p>
                      <div class="progress mb-0">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary w-{{progress_count_wait_anket}}" role="progressbar" aria-valuenow="{{progress_count_wait_anket}}" aria-valuemin="0" aria-valuemax="100">{{count_wait_anket}}%</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END wait anketa -->
              <!-- fail anket-->
              <div class="card mt-3">
                <div class="card-body px-4">
                  <div class="row align-items-center">
                    <div class="col-6 col-lg-8">
                      <a class="h5" href="">Пропустили дедлайн анкетирования</a>
                      <p class="mb-0 pb-0">
                        <a href="#" class="text-info">откликов: {{fail_anket}}</a>
                      </p>
                      <div class="progress mb-0">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger w-{{progress_count_fail_anket}}" role="progressbar" aria-valuenow="{{progress_count_fail_anket}}" aria-valuemin="0" aria-valuemax="100">{{count_fail_anket}}%</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END fail anket -->
              <!-- go test -->
              <div class="card mt-3">
                <div class="card-body px-4">
                  <div class="row align-items-center">
                    <div class="col-6 col-lg-8">
                      <a class="h5" href="">Проходят тестовое задание</a>
                      <p class="mb-0 pb-0">
                        <a href="#" class="text-info">откликов: {{check_test}}</a>
                      </p>
                      <div class="progress mb-0">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info w-{{progress_count_go_test}}" role="progressbar" aria-valuenow="{{progress_count_go_test}}" aria-valuemin="0" aria-valuemax="100">{{count_go_test}}%</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END go test -->
              <!-- wait test -->
              <div class="card mt-3">
                <div class="card-body px-4">
                  <div class="row align-items-center">
                    <div class="col-6 col-lg-8">
                      <a class="h5" href="">Ожидают проверки тестового задания</a>
                      <p class="mb-0 pb-0">
                        <a href="#" class="text-info">откликов: {{apps_test.count}}</a>
                      </p>
                      <div class="progress mb-0">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary w-{{progress_count_wait_test}}" role="progressbar" aria-valuenow="{{progress_count_wait_test}}" aria-valuemin="0" aria-valuemax="100">{{count_wait_test}}%</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END wait test -->
              <!-- fail test-->
              <div class="card mt-3">
                <div class="card-body px-4">
                  <div class="row align-items-center">
                    <div class="col-6 col-lg-8">
                      <a class="h5" href="">Пропустили дедлайн тестового задания</a>
                      <p class="mb-0 pb-0">
                        <a href="#" class="text-info">откликов: {{fail_test}}</a>
                      </p>
                      <div class="progress mb-0">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger w-{{progress_count_fail_test}}" role="progressbar" aria-valuenow="{{progress_count_fail_test}}" aria-valuemin="0" aria-valuemax="100">{{count_fail_test}}%</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END fail test -->
              <!-- go osa -->
              <div class="card mt-3">
                <div class="card-body px-4">
                  <div class="row align-items-center">
                    <div class="col-6 col-lg-8">
                      <a class="h5" href="">Проходят ОСА-тест</a>
                      <p class="mb-0 pb-0">
                        <a href="#" class="text-info">откликов: {{check_osa}}</a>
                      </p>
                      <div class="progress mb-0">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info w-{{progress_count_go_osa}}" role="progressbar" aria-valuenow="{{progress_count_go_osa}}" aria-valuemin="0" aria-valuemax="100">{{count_go_osa}}%</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END go osa -->
              <!-- wait osa -->
              <div class="card mt-3">
                <div class="card-body px-4">
                  <div class="row align-items-center">
                    <div class="col-6 col-lg-8">
                      <a class="h5" href="">Ожидают проверки ОСА-теста</a>
                      <p class="mb-0 pb-0">
                        <a href="#" class="text-info">откликов: {{apps_osa.count}}</a>
                      </p>
                      <div class="progress mb-0">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary w-{{progress_count_wait_osa}}" role="progressbar" aria-valuenow="{{progress_count_wait_osa}}" aria-valuemin="0" aria-valuemax="100">{{count_wait_osa}}%</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END wait osa -->
              <!-- fail osa-->
              <div class="card mt-3">
                <div class="card-body px-4">
                  <div class="row align-items-center">
                    <div class="col-6 col-lg-8">
                      <a class="h5" href="">Пропустили дедлайн оса-теста</a>
                      <p class="mb-0 pb-0">
                        <a href="#" class="text-info">откликов: {{fail_osa}}</a>
                      </p>
                      <div class="progress mb-0">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger w-{{progress_count_fail_osa}}" role="progressbar" aria-valuenow="{{progress_count_fail_osa}}" aria-valuemin="0" aria-valuemax="100">{{count_fail_osa}}%</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END fail osa -->
              <!-- wait sobes -->
              <div class="card mt-3">
                <div class="card-body px-4">
                  <div class="row align-items-center">
                    <div class="col-6 col-lg-8">
                      <a class="h5" href="">Ожидают согласования собеседования</a>
                      <p class="mb-0 pb-0">
                        <a href="#" class="text-info">откликов: {{apps_check_sobes.count}}</a>
                      </p>
                      <div class="progress mb-0">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary w-{{progress_count_check_sobes}}" role="progressbar" aria-valuenow="{{progress_count_check_sobes}}" aria-valuemin="0" aria-valuemax="100">{{count_check_sobes}}%</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END wait sobes -->
              <!-- go sobes -->
              <div class="card mt-3">
                <div class="card-body px-4">
                  <div class="row align-items-center">
                    <div class="col-6 col-lg-8">
                      <a class="h5" href="">Проходят собеседование</a>
                      <p class="mb-0 pb-0">
                        <a href="#" class="text-info">откликов: {{apps_go_sobes.count}}</a>
                      </p>
                      <div class="progress mb-0">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary w-{{progress_count_go_sobes}}" role="progressbar" aria-valuenow="{{progress_count_go_sobes}}" aria-valuemin="0" aria-valuemax="100">{{count_go_sobes}}%</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END go sobes -->
              <!-- fail vacancy -->
              <div class="card mt-3">
                <div class="card-body px-4">
                  <div class="row align-items-center">
                    <div class="col-6 col-lg-8">
                      <a class="h5" href="">Отказ по вакансии</a>
                      <p class="mb-0 pb-0">
                        <a href="#" class="text-info">откликов: {{apps_fail.count}}</a>
                      </p>
                      <div class="progress mb-0">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary w-{{progress_count_fail}}" role="progressbar" aria-valuenow="{{progress_count_fail}}" aria-valuemin="0" aria-valuemax="100">{{count_fail}}%</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END fail vacancy -->
              <!-- success vacancy -->
              <div class="card mt-3">
                <div class="card-body px-4">
                  <div class="row align-items-center">
                    <div class="col-6 col-lg-8">
                      <a class="h5" href="">На стажировке</a>
                      <p class="mb-0 pb-0">
                        <a href="#" class="text-info">откликов: {{apps_win.count}}</a>
                      </p>
                      <div class="progress mb-0">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success w-{{progress_count_win}}" role="progressbar" aria-valuenow="{{progress_count_win}}" aria-valuemin="0" aria-valuemax="100">{{count_win}}%</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END success vacancy -->
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>
  </main>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
