<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">

<head>
  <meta charset="UTF-8">
  <title>Digital Group</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <header class="container mt-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand mr-4" href="{% url 'home' %}">Digital Group</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
        <ul class="navbar-nav col-10">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'vacancies' %}">Вакансии</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'applications' %}">Мои отклики</a>
          </li>

        </ul>
        {% if request.user.is_authenticated %}
        <ul class="navbar-nav col-2 justify-content-end">
                <button type="button" class="btn dropdown-toggle font-weight-bold" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ request.user.first_name }}
                </button>
                  <div class="dropdown-menu dropdown-menu-right mt-3">
                    <a href="{% url 'vacancies-hr' %}" class="dropdown-item py-2">Вакансии</a>
                    <a href="{% url 'companies-hr' %}" class="dropdown-item py-2">Компании</a>
                    <a href="{% url 'applications-hr-all' %}" class="dropdown-item py-2">Отклики</a>
                    <a href="{% url 'OSA-hr' %}" class="dropdown-item py-2">База ОСА</a>
                  </div>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
          </li>
            {% endif %}
        </ul>
      </div>
    </nav>
  </header>

  <main class="container mt-3 pb-5">
    <div class="row mt-5">
      <div class="col-12 col-lg-4">
        <aside class="pt-3 pb-4 px-4 mb-5 card">
          <h1 class="h4 pt-2 pb-2">Вакансия {{object.title}}</h1>
          <div class="nav flex-column nav-pills">
            <a class="nav-link" href="{% url 'update-vacancy' vacancy.id %}">1. Информация о вакансии</a>
            <a class="nav-link" href="{% url 'applications-vacancy' vacancy.id %}">2. Отклики вакансии</a>
            <a class="nav-link active" href="{% url 'applications-anketa' vacancy.id %}">3. Ответы на анкету</a>
          </div>
        </aside>
      </div>

      <div class="col-12 col-lg-8">
        <div class="card">
          <div class="card-body px-4 pb-4">
            <section class="tab-pane fade show active">
              <h2 class="h4 pt-2 pb-3">Всего анкет к проверке: {{anketa_results.count}}</h2>
              {% for obj in anketa_results %}
              <div class="card mt-3">
                <div class="card-body px-4">
                  <div class="row align-items-center">
                    <div class="col-6 col-lg-8">
                      <a class="h5" href="">{{obj.application.kandidat.pk}}</a>
                    </div>
                    <div class="col-6 col-lg-4 text-right">
                      <a href="{% url 'marks' obj.id obj.get_answers.first.pk %}" class="btn btn-outline-primary">К проверке</a>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </section>
          </div>
        </div>
      </div>
    </div>
  </main>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
